Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
.vs/S05_TestingGrounds/v15/ipch/
.vs/
Content/Tropical_Jungle_Pack/Textures/Trees/t_vines_01_d.uasset
